@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for modern UI */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
}

/* Prevent image dragging default */
img {
  user-select: none;
  -webkit-user-drag: none;
}

/* Global Font */
body {
  font-family: 'Inter', sans-serif;
}
